
.vs/file-catalog/v15/.suo
.vs/file-catalog/v15/Browse.VC.db
.vs/file-catalog/v15/Browse.VC.opendb
.vs/file-catalog/v15/ipch/1c1a2dc1725d1d38.ipch
build.bat
Debug/file-catalog.exe
Debug/file-catalog.ilk
Debug/file-catalog.pdb
file-catalog.sln
*.log
*.obj
*.pch
*.tlog
*.idb
*.pdb
file-catalog/file-catalog.cpp
*.vcxproj
*.filters
*.user
file-catalog/stdafx.cpp
file-catalog/stdafx.h
file-catalog/targetver.h
file-catalog/index.tdb
